.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24rem;
}

.flexRowItem {
  justify-content: flex-start;
}

.childFlexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
}

.childFlexRowItem {
  justify-content: flex-start;
}

.navNo {
  width: 4rem;
  height: 4rem;
}

.navNo {
  width: 4rem;
  height: 2rem;
}
