.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 28rem;
	padding: 0rem 0rem 0.4rem 24rem;

	position: fixed;
	top: 0; /* 置頂 */
	left: 0; /* 與左邊界對齊 */
	width: 100%; /* 寬度為100% */
	z-index: 100; /* 確保 header 在其他內容之上 */

	background: #fff;
}

.flexRowItem {
	justify-content: flex-start;
}

.childFlexRow {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 4rem;
}

.childFlexRowItem {
	justify-content: flex-start;
	// margin-right: 50px;
	transition: all ease 0.3s;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Noto Sans TC', sans-serif;
	cursor: pointer;
}

.navNo {
	width: 3.8rem;
	height: 3.8rem;
}

.cancel,
.navMobileMenu {
	display: none;
}

/*超大型裝置*/
@media (min-width: 1200px) {
}

/*大型裝置*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.navMobileMenu {
		display: block;
	}
}

/*中型裝置*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.navMobileMenu {
		display: block;
	}

	.flexRow {
		padding: 0;
	}
}

/*小型裝置*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.navMobileMenu {
		display: block;
	}

	.flexRow {
		padding: 0;
	}
}

/*超小型裝置*/
@media (max-width: 575.98px) {
}

@media (max-width: 393px) {
	.navMobileMenu {
		display: block;
	}

	.navMenu {
		display: none;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.9); // 或其他背景色
		z-index: 1000; // 確保在最上層
	}

	.navMenu {
		display: none; // 當 showNavMenu 為 false 時保持隱藏
	}

	.cancel {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 1001; // 比 navMenu 高，確保可點擊
	}

	.flexRow {
		padding: 0;
		gap: 8rem;
	}

}
