.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28rem;
  padding: 0rem 0rem 0.4rem 24rem;

  position: fixed;
  top: 0; /* 置頂 */
    left: 0; /* 與左邊界對齊 */
    width: 100%; /* 寬度為100% */
    z-index: 100; /* 確保 header 在其他內容之上 */

    background: #FFF;
}

.flexRowItem {
  justify-content: flex-start;
}

.childFlexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
}

.childFlexRowItem {
  justify-content: flex-start;
  // margin-right: 50px;
  transition: all ease 0.3s;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
}

.navNo {
  width: 3.8rem;
  height: 3.8rem;
}


.navMobileMenu {
  display:none;
}

/*超大型裝置*/
@media (min-width: 1200px) {

}

/*大型裝置*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navMobileMenu {
    display:block;
  }

  .flexRowItem {
    display:none;
  }

}

/*中型裝置*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .navMobileMenu {
    display:block;
  }

  .flexRowItem {
    display:none;
  }

  .flexRow {
    padding: 0;
  }

}

/*小型裝置*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navMobileMenu {
    display:block;
  }

  .flexRowItem {
    display:none;
  }

  .flexRow {
    padding: 0;
  }
}

/*超小型裝置*/
@media (max-width: 575.98px) {
  .navMobileMenu {
    display:block;
  }



  .flexRow {
    padding: 0;
    gap: 7rem;
  }


.flexRowItem{
  display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    /* right: -100%; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: fixed; */
    background-color: #fff;
    z-index: 3;
    transition: all ease 0.3s;
    display: block;
}

 }

