<footer class=flexRow>
    <div class='flexRowItem'>
        <img class='navNo' src='assets/images/Group 19.png' />
        <img class='navName' src='assets/images/footer_name.png' />
        <p>2024立委候選人</p>
      </div>
      <div class='flexRowItem childFlexColumn'>
        <div class='childFlexColumnItem'>首頁</div>
        <div class='childFlexColumnItem'>最新活動</div>
        <div class='childFlexColumnItem'>政策議題</div>
        <div class='childFlexColumnItem'>小額捐款</div>
      </div>

      <div class='flexRowItem childFlexColumn'>
          <div class='childFlexColumnItem'>辦公室地址：喵星區，毛茸茸大道88號，喵喵大樓3樓</div>
          <div class='childFlexColumnItem'>電話：(02) 888-5678</div>
          <div class='childFlexColumnItem'>電子郵件地址：meowoffice@linmeow.tw</div>
        </div>
        <p>© 2023 喵立翰 版權所有</p>
</footer>
