<footer>
  <div class='flexRow'>

    <div class='flexRowItem'>
      <img class='navNo' src='assets/images/Group 19.png' />
      <img class='navName' src='assets/images/footer_name.png' />
      <p>2024立委候選人</p>
    </div>
    <div class='flexRowItem'>
      <div class='' (click)="scrollToElement('banner')">首頁</div>
      <div class='' (click)="scrollToElement('assertion')">最新活動</div>
      <div class='' (click)="scrollToElement('policyIssues')">政策議題</div>
      <div class='' (click)="scrollToElement('donateNow')">小額捐款</div>
    </div>

    <div class='flexRowItem'>
        <div class=''>● 辦公室地址：喵星區，毛茸茸大道88號，喵喵大樓3樓</div>
        <div class=''>● 電話：(02) 888-5678</div>
        <div class=''>● 電子郵件地址：meowoffice@linmeow.tw</div>
    </div>
  </div>
  <div class="textCenter">© 2023 喵立翰 版權所有</div>
</footer>
